# Operadores aritméticos

- Adição	+	Soma dois valores
- Subtração	-	Subtrai um valor do outro
- Multiplicação	*	Multiplica dois valores
- Divisão	/	Divide um valor pelo outro
- Divisão inteira	//	Divide um valor pelo outro e retorna o quociente inteiro
- Resto da divisão	%	Retorna o resto da divisão de um valor pelo outro
- Potenciação	**	Eleva um valor à potência de outro

 # Formação de texto

- #### 1ª Opção

In [ ]:
# Definindo variáveis
nome = "João"
idade = 25

# Usando .format() para formatar a string dentro do print
print("Olá, meu nome é {} e eu tenho {} anos.".format(nome, idade))

- #### 2ª Opção

In [ ]:
# Definindo variáveis
nome = "João"
idade = 25

# Usando f-string para formatar a string dentro do print
print(f"Olá, meu nome é {nome} e eu tenho {idade} anos.")

# Funções: abs, round e pow

In [1]:
# Retorna o valor absoluto
abs(-8)

8

In [2]:
# Retorna o valor com a quantidade de casas decimais determinada
round(1.5151, 2)

1.52

In [3]:
# Potência
pow(3, 2)

9

#  Trabalhando com variáveis

In [ ]:
# Atribuindo o valor a 1 variável
var_teste = 1

In [ ]:
# Imprimindo o valor da variável
print(var_teste)

In [ ]:
# Imprimindo o valor da variável
var_teste

In [ ]:
# Tipo da variável
type(var_teste)

# Declaração Múltipla

In [ ]:
x, y, z = "Thallys", "Mirella", "18"

In [ ]:
fruta1 = fruta2 = fruta3 = 'Melancia'

###### Obs: letras maiúsculas e minúsculas possuem diferença no nome da variável.

# 1 - Strings

In [ ]:
# Quebra de linha
print('Thallys \n Batista \n de \n Souza ')

### Indexando Strings

In [1]:
# Atribuindo uma string
s = 'Data Science Academy'

In [ ]:
print(s)

Indexação em Python começa por ZERO

In [ ]:
# Primeiro elemento da String
s[0]

Podemos usar um : para executar um slicing que faz a leitura de tudo até o ponto designado. Por exemplo:

In [ ]:
# Retorna todos os elementos da string, começando pela posição
# (Python começa sempre pelo 0), até o fim da string.
s[1:]

In [ ]:
# Retorna tudo até a posição definida:
s[:3]

In [ ]:
#Também é possível usar a indexação negativa e ler de trás pra frente.
s[:-1]

Também é possível usar a notação de índice e fatiar a string em pedaços
específicos (o padrão é 1).
Ex: usar 2 pontos duas vezes em uma linha e, em seguida, um número que especifica
a frequência para retornar elementos.

In [ ]:
s[::2]

In [2]:
# Concatenar strings 
s + ' é a melhor maneira de estar preparado para o mercado de trabalho'

'Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho'

In [3]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho'

In [4]:
print(s)

Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho

In [7]:
# É possível criar repetição usando o símbolo de multiplicação * 
letra = 'w'

In [8]:
letra * 3

'www'

In [9]:
s

'Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho'

### Funções Built-in de Strings

In [10]:
s

'Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho'

In [11]:
# Upper Case 
s.upper()

'DATA SCIENCE ACADEMY É A MELHOR MANEIRA DE ESTAR PREPARADO PARA O MERCADO DE TRABALHO'

In [ ]:
# Lower Case
s.lower()

In [ ]:
# Dividir uma string por espaços em branco (padrão)
s.split()

In [ ]:
# Dividir uma string por um elementro específico 
s.split('a')

### Funções String

In [13]:
s = 'seja bem vindo ao universo de Python'

In [14]:
# Tornar a primeira letra maiúscula 
s.capitalize()

'Seja bem vindo ao universo de python'

In [17]:
# Contar elementos em uma string
s.count('a')

2

In [16]:
# Existe número nessa string?
s.isalnum()

False

### Comparando Strings

In [19]:
print('Python' == 'R')

False

In [20]:
print('python' == 'python')

True

# 2 - Listas

- As listas são sequências ordenadas de elementos.
- Os elementos de uma lista são acessados através de índices numéricos, 
- começando do índice 0 para o primeiro elemento, 1 para o segundo, e assim por diante.
- Os elementos de uma lista podem ser de qualquer tipo de dado, e uma lista pode conter elementos de diferentes tipos.
- As listas são mutáveis, o que significa que os elementos podem ser modificados, adicionados ou removidos.

In [21]:
# Criando uma lista (Usa-se colchetes)
# Possui um único elemento, a vírgula não é interpretada como um separador 
# de elementos da lista, mas sim como parte da string
lista_1 = ['arroz, frango, tomate, leite']

In [22]:
type(lista_1)

list

In [23]:
print(lista_1)

['arroz, frango, tomate, leite']

In [24]:
# Criando outra lista
# Esta é uma lista que contém quatro elementos separados por vírgulas
lista_2 = ['arroz', 'frango', 'tomate', 'leite']

In [25]:
# Criando lista
lista_3 = [23,100, 'Cientista de dados']

In [26]:
type(lista_3)

list

In [27]:
print(lista_3)

[23, 100, 'Cientista de dados']

In [29]:
# Atribuindo cada valor da lista a uma variável
item1 = lista_3[0] 
item2 = lista_3[1]
item3 = lista_3[2]

In [30]:
# Imprimindo as variáveis 
print(item1, item2, item3)

23 100 Cientista de dados

- ### Atualizando um item da lista

In [31]:
#Imprimindo um item da lista
lista_2[2]

'tomate'

In [32]:
# Atualizando um item da lista 
lista_2[2] = 'chocolate'

In [33]:
# Imprimindo a lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

Obs: a lista é um objeto que pode ser manipulada e alterada, diferente
de uma string

- ### Como salvar cada número digitado dentro de um índice em uma lista

In [2]:
lista = []

for i in range(0, 6):
    numero = int(input('Digite um número: '))
    lista.append(numero)

print(lista)

# Nesse código, criamos uma lista vazia (lista) antes do loop. 
# Dentro do loop, solicitamos ao usuário que digite um número, convertemos a entrada para int e o armazenamos na variável numero. 
# Em seguida, utilizamos o método append() para adicionar o valor de numero à lista lista.

Digite um número: 10
Digite um número: 10
Digite um número: 10
Digite um número: 10
Digite um número: 10
Digite um número: 10
[10, 10, 10, 10, 10, 10]

- ### Como criar uma lista a partir da função: RANGE

- #### Sintaxe do Range

In [6]:
# Tamanho 
for i in range(5):
    print(i , end='→ ')
print('Tamanho')
# Com início e fim range(início, fim)
for i in range(1,10):
    print(i , end='→ ')
print('Início, fim')
# Com início, fim e passo range(início, fim, passo)
for i in range(1,10,2):
    print(i , end='→ ')
print('início, fim, passo')

0→ 1→ 2→ 3→ 4→ Tamanho
1→ 2→ 3→ 4→ 5→ 6→ 7→ 8→ 9→ Início, fim
1→ 3→ 5→ 7→ 9→ início, fim, passo

In [5]:
valores = list(range(0,5))
print(valores)
type(valores)

[0, 1, 2, 3, 4]

list

In [10]:
produtos = ['iphone', 'samsung', 'lg']
estoque = [10,20,30]
for i in range(3):
    print(f'{produtos[i]} {estoque[i]} unidades')

iphone 10 unidades
samsung 20 unidades
lg 30 unidades

- ### Estrutura SET

meu_set = {'valores', 'valores', 'valores',....}

- ##### Obs:
- Não pode ter valores duplicados
- Não tem ordem fixa

In [17]:
produtos = ['casa', 'ap', 'casa', 'casa', 'rua', 'prédio', 'ap']
print('Sem o set:', len(produtos))
set_produtos = set(produtos)
print('Após o set, só valores únicos: ', len(set_produtos))

Sem o set: 7
Após o set, só valores únicos:  4

- ### Como ORDERNAR uma lista

In [32]:
lista = [0,1,5,87,90,55,31,1,3]
lista.sort
print(lista)
# Para inverter a ordem
lista.sort(reverse=True) 
print(lista)

[0, 1, 5, 87, 90, 55, 31, 1, 3]
None

- ### Como retornar o índice do maior valor de uma lista

In [ ]:
lista = [10, 50, 30, 40, 50]

indice_do_maior_valor = lista.index(max(lista))

- ### Como procurar na lista um determinado valor e retornar seu índice

In [6]:
lista = [10, 20, 30, 40, 50]
valor = 30

indice = lista.index(valor)
print(indice)

2

- ### Deletando um item da lista

In [ ]:
# Não é possível deletar um item que não existe na lista, vai gerar um erro.
del lista_2[4]

In [34]:
# Deletando um item específico da lista
del lista_2[3]

In [35]:
# Lista alterada
lista_2

['arroz', 'frango', 'chocolate']

- ### Listas de listas (Listas aninhadas)

In [6]:
# Lista aninhada
listas = [ [1,2,3], [10,15,14], [10.1,8.7,1.5] ]

In [8]:
print(listas[0])

[1, 2, 3]

### Operações com listas

#### Lista aninhada

In [9]:

listas = [ [1,2,3], [10,15,14], [10.1,8.7,1.5] ]

#### Acessando elementos em listas aninhadas/compostas

In [36]:
pessoas = [ ['maria',25], ['thallys', 26], ['mirella', 28] ]
print(pessoas[0][0])
print(pessoas[1])

maria
['thallys', 26]

In [44]:
# Exemplo:
p = [ ['maria',25], ['thallys', 26], ['mirella', 28] ]

for i in pessoas:
    print(f'{i[0]} tem {i[1]} anos')

maria tem 25 anos
thallys tem 26 anos
mirella tem 28 anos

In [45]:
people = []
dados =[]
for i in range(0,3):
    dados.append(str(input('Nome: ')))
    dados.append(int(input('Idade: ')))
    people.append(dados[:]) # Tudo que foi inserido em dado é copiado para dentro de people
    dados.clear()
    
print(people)

Nome: Thallys
Idade: 26
Nome: Mirella
Idade: 25
Nome: Miguel
Idade: 5
[['Thallys', 26], ['Mirella', 25], ['Miguel ', 5]]

In [10]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 1.5]]

In [11]:
# Atribuindo à variável 'a' o primeiro valor da primeira lista
a = listas[0][0]

In [12]:
a

1

In [13]:
# Extrair um valor da lista e realizar uma operação
c = listas[0][2] +10

In [14]:
c

13

### Concatenando listas

In [15]:
lista_s1 = [34,32,56]

In [16]:
lista_s2 = [21, 90, 51]

In [17]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [18]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [19]:
# Criando uma lista 
lista_teste = [100,2,-5,3]

In [20]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste)

False

In [21]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste)

True

### Funções Built-in - len, max e min

In [1]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3, 4]

In [2]:
# Função len retorna o comprimento da lista
len(lista_numeros)

5

In [3]:
# Função max retorna o maior valor da lista
max(lista_numeros)

50

In [5]:
# Função min retorna o menor valor da lista
min(lista_numeros)

-3

In [9]:
lista_formacoes_dsa = ['Analista de dados', 'Cientista de dados', 'Engenheiro de dados']

- ### Adicionando um item a lista (Posso add o mesmo item mais de 1x)

In [22]:
# Método append() -  é usado para adicionar um único elemento ao final da lista.
lista_formacoes_dsa.append('Engenheiro de IA')

In [11]:
lista_formacoes_dsa

['Analista de dados',
 'Cientista de dados',
 'Engenheiro de dados',
 'Engenheiro de IA']

In [12]:
lista_formacoes_dsa.append('Engenheiro de IA')

In [13]:
lista_formacoes_dsa

['Analista de dados',
 'Cientista de dados',
 'Engenheiro de dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [14]:
lista_formacoes_dsa.count('Engenheiro de IA')

2

In [15]:
# Criando uma lista vazia
a = []

- ### Copiando itens de uma lista para outra

In [16]:
old_lista = [1,2,5,10]

In [17]:
new_list = []

In [19]:
for item in old_lista:
    new_list.append(item)

In [20]:
new_list

[1, 2, 5, 10]

- ### Adicionando vários itens a lista

In [3]:
# Método extend() -  é usado para adicionar múltiplos elementos ao final da lista.
cidades = ['salvador', 'Candeias', 'Madre de Deus']
cidades.extend(['Itacaré', 'Lençóis'])

In [30]:
cidades

['salvador', 'Candeias', 'Madre de Deus', 'Itacaré', 'Lençóis']

In [32]:
# Como descobrir o índice em uma lista - índice em python começa no ZERO.
cidades.index('salvador')

0

- ### Como adicionar um item em uma DETERMINADA posição na lista

- insert(posição, elemento) -  é usado para inserir um elemento em uma posição específica da lista.
- Todos os elementos à direita da posição especificada são deslocados para a direita para abrir espaço para o novo elemento.

In [35]:
cidades.insert(4, 'Orlando')

In [36]:
cidades

['salvador', 'Candeias', 'Madre de Deus', 'Itacaré', 'Orlando', 'Lençóis']

- ### Como retornar valores e chaves de uma lista

In [22]:
valores = [5,3,1]

# c: chave ou índice
# v: o valor em cada índice
for c, v in enumerate(valores):
    print(f'Na posição {c} encontrei o valor {v}')

Na posição 0 encontrei o valor 5
Na posição 1 encontrei o valor 3
Na posição 2 encontrei o valor 1

- ### Como criar uma cópia de uma lista SEM LIGAÇÃO entre elas

In [28]:
a = [1,2,3,4]
# 'b' recebe todos os valores de 'a'
b =a[:]
b[1] = 100
print(b)
print(a)

[1, 100, 3, 4]
[1, 2, 3, 4]

- ### Como criar uma cópia de uma lista COM LIGAÇÃO entre elas

In [30]:
a = [1,2,3,4]
b = a
print(b)
print(a)
b[2] = 100
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 100, 4]

- ### Como remover um item da lista

In [ ]:
# Remove um item na lista
cidades.remove('Orlando')

In [43]:
cidades

['salvador', 'Candeias', 'Madre de Deus', 'Itacaré', 'Lençóis']

- ### Como remover um item da lista em determinada posição

In [4]:
cidades.pop(1)
print(cidades)

['salvador', 'Madre de Deus', 'Itacaré', 'Lençóis']

- ### Como inverter uma lista

In [44]:
cidades.reverse()

In [45]:
cidades

['Lençóis', 'Itacaré', 'Madre de Deus', 'Candeias', 'salvador']

- ### Como ordernar uma lista

In [50]:
x = [5,7,3,4,9,11,8]

In [55]:
# Em ordem CRESCENTE
x.sort()

In [56]:
x

[3, 4, 5, 7, 8, 9, 11]

In [57]:
# Em ordem DECRESCENTE
x.sort(reverse=True)
x

[11, 9, 8, 7, 5, 4, 3]

# 3 - Dicionários

- Os dicionários são estruturas de dados que armazenam pares chave-valor, onde cada valor é associado a uma chave única.
- Os elementos em um dicionário não possuem uma ordem específica.
- Os valores em um dicionário podem ser acessados através das chaves correspondentes, em vez de índices.
- As chaves de um dicionário devem ser de um tipo de dado imutável, como strings, números ou tuplas. 
- Os valores associados podem ser de qualquer tipo de dado.
- Os dicionários são mutáveis, o que significa que os pares chave-valor podem ser modificados, adicionados ou removidos.

- #### Diferença entre: valores, chaves e items

In [1]:
# exemplo:
filme = {'título': 'star wars', 'ano': 1977, 'diretor': 'George Lucas'}
# Valores
print(filme.values())
# Chaves
print(filme.keys())
# Items
print(filme.items())

dict_values(['star wars', 1977, 'George Lucas'])
dict_keys(['título', 'ano', 'diretor'])
dict_items([('título', 'star wars'), ('ano', 1977), ('diretor', 'George Lucas')])

- #### Como usar no for

In [4]:
# Para cada chave e valor no dicionário filme
for k, v in filme.items():
    print(f'{k}: {v}')

título: star wars
ano: 1977
diretor: George Lucas

In [58]:
# Criando uma lista
estudantes_list = ['Thallys', 26, 'Mirella', 25, 'Rafael', 29, 'Gustavo', 15]

In [59]:
estudantes_list

['Thallys', 26, 'Mirella', 25, 'Rafael', 29, 'Gustavo', 15]

#### Criando um dicionário

In [51]:

estudantes_dici = {'Thallys':26, 'Mirella':25, 'Rafael':29, 'Gustavo':15 }

In [52]:
estudantes_dici

{'Thallys': 26, 'Mirella': 25, 'Rafael': 29, 'Gustavo': 15}

In [58]:
dados = dict()
dados = {'nome': 'Thallys', 'idade':25 }
print(dados['nome'])

Thallys

In [53]:
# Retornando a idade de Thallys
estudantes_dici['Thallys']

26

### Adicionando um item no dicionário

In [59]:
estudantes_dici['Davi'] = 9
dados['sexo'] ='M'
print(dados)

{'nome': 'Thallys', 'idade': 25, 'sexo': 'M'}

In [73]:
estudantes_dici

{'Thallys': 26, 'Mirella': 25, 'Rafael': 29, 'Gustavo': 15, 'Davi': 9}

### Como limpar um dicionário

In [74]:
# Método clear
estudantes_dici.clear()

In [75]:
estudantes_dici

{}

### Como deletar um dicionário

In [76]:
del estudantes_dici

In [60]:
del dados['idade']
print(dados)

{'nome': 'Thallys', 'sexo': 'M'}

### Comprimento de um dicionário

In [77]:
estudantes = {'Thallys':26, 'Mirella':25, 'Rafael':29, 'Gustavo':15 }

In [78]:
# Cada par é um elemento
len(estudantes)

4

### Como retornar somente as chaves de um dicionário

In [79]:
estudantes.keys()

dict_keys(['Thallys', 'Mirella', 'Rafael', 'Gustavo'])

### Como retornar somente os valores de um dicionário

In [80]:
estudantes.values()

dict_values([26, 25, 29, 15])

### Como retornar os items do dicionário

In [81]:
estudantes.items()

dict_items([('Thallys', 26), ('Mirella', 25), ('Rafael', 29), ('Gustavo', 15)])

### Como atualizar um dicionário a partir de outro

In [82]:
estudantes_2 = {'Miguel':26, 'Aira':25, 'Evelyn':29, 'Eliene':15 }

In [83]:
# Agregando os 2 dicionários
estudantes.update(estudantes_2)
estudantes

{'Thallys': 26,
 'Mirella': 25,
 'Rafael': 29,
 'Gustavo': 15,
 'Miguel': 26,
 'Aira': 25,
 'Evelyn': 29,
 'Eliene': 15}

### Como associar valores de uma chave a variáveis

In [84]:
# Retorna o valor que está associada a chave "Thallys" e guarda em "a".
a = estudantes['Thallys']

In [85]:
b = estudantes['Gustavo']

In [86]:
c = estudantes['Miguel']

In [87]:
a, b, c

(26, 15, 26)

- ### Lista de dicionários

In [27]:
brasil = []
estados1 = {'uf': 'Bahia', 'sigla': 'Ba'}
estados2 = {'uf': 'Rio de Janeiro', 'sigla': 'Rj'}

brasil.append(estados1)
brasil.append(estados2)

print(estados1) # Mostra apenas o dict
print(brasil) # mostra a lista
print(brasil[0]['uf'])

{'uf': 'Bahia', 'sigla': 'Ba'}
[{'uf': 'Bahia', 'sigla': 'Ba'}, {'uf': 'Rio de Janeiro', 'sigla': 'Rj'}]
Bahia

In [6]:
# Lista de dicionários
locadora = [{'título': 'star wars', 'ano': 1977, 'diretor': 'George Lucas'}, {'título': 'Avengers', 'ano': 2012, 'diretor': 'Jass'}, {'título': 'Matrix', 'ano': 1999, 'diretor': 'WWW'}]

# Retorna o índice de número ZERO da lista da chave 'ano'
print(locadora[0]['ano'])

1977

- ### Dicionário de listas

In [1]:
# Dicionário de listas
dict3 = {'chave1': 1230, 'chave2': [5,4,3,2], 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [2]:
# Acessando um item da lista, dentro do dicionário e retornando com letras maiúsculas
dict3['chave3'][0].upper()

'PICANHA'

In [5]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0]-1
var1

4

In [6]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
# Sutraiu 5 do primeiro item e atualizou o resultado no lugar do antigo valor
dict3['chave2'][0] -= 5
dict3['chave2']

[0, 4, 3, 2]

### Dicionários aninhados

In [9]:
dict_aninhado = {'key1': {'key2':{'key3': 'dict aninhado em python'}}}

In [10]:
# Como retornar o último valor 
dict_aninhado['key1']['key2']['key3']

'dict aninhado em python'

- #### **Exemplos:**

In [10]:
pessoas = {'nome': 'Thallys', 'idade': 26, 'sexo': 'M'}
print(f'{pessoas["nome"]} tem {pessoas["idade"]} anos e pertence ao sexo {pessoas["sexo"]}')

Thallys tem 26 anos e pertence ao sexo M

In [13]:
print(pessoas.keys())
print(pessoas.values())
print(pessoas.items())

dict_keys(['nome', 'idade', 'sexo'])
dict_values(['Thallys', 26, 'M'])
dict_items([('nome', 'Thallys'), ('idade', 26), ('sexo', 'M')])

- ##### Acessamdo as chaves com uso do for

In [19]:
for k in pessoas.keys():
    print(k)
print('='*30)
# Para pegar os items:
for k, v in pessoas.items():
    print(f'{k} = {v}')

nome
idade
sexo
==============================
nome = Thallys
idade = 26
sexo = M

- ##### Deletando, add e substituindo elementos no dicionário

In [22]:
pessoas['nome'] = 'Mirella' # Ao fazer isso, 'Thallys' foi substituido por 'Mirella'
del pessoas['sexo'] # Ao fazer isso, 'sexo' foi excluído
for k, v in pessoas.items():
    print(f'{k} = {v}')

nome = Mirella
idade = 26

In [23]:
# Adicionando ao dicionário
pessoas['peso'] = 85.1
for k, v in pessoas.items():
    print(f'{k} = {v}')

nome = Mirella
idade = 26
peso = 85.1

- ##### Como fazer uma cópia de um dicionário

In [35]:
estado = {}
brasil = []
for i in range(0,3):
    estado['uf'] = str(input('Uni Federativa: '))
    estado['sigla'] = str(input('Sigla: '))
    brasil.append(estado.copy()) # Cópia
print(brasil)

Uni Federativa: RIO
Sigla: RJ
Uni Federativa: BAHIA
Sigla: BA
Uni Federativa: PARA
Sigla: PA
[{'uf': 'RIO', 'sigla': 'RJ'}, {'uf': 'BAHIA', 'sigla': 'BA'}, {'uf': 'PARA', 'sigla': 'PA'}]

In [36]:
for j in brasil: # Loop da lista brasil
    print(j)

{'uf': 'RIO', 'sigla': 'RJ'}
{'uf': 'BAHIA', 'sigla': 'BA'}
{'uf': 'PARA', 'sigla': 'PA'}

In [37]:
for j in brasil: # Loop da lista brasil
    for k, v in j.items():
        print(f'O campo {k} tem valor {v} ')

O campo uf tem valor RIO
O campo sigla tem valor RJ
O campo uf tem valor BAHIA
O campo sigla tem valor BA
O campo uf tem valor PARA
O campo sigla tem valor PA

In [38]:
for j in brasil: # Loop da lista brasil
    for v in j.values():
        print(f'{v}', end =' ')
    print()

RIO RJ
BAHIA BA
PARA PA

# 4 - Tuplas

- A principal diferença entre listas e tuplas é que as tuplas são imutáveis, o que significa que uma vez que uma tupla é criada, seus elementos não podem ser modificados, adicionados ou removidos.
- Isso significa que você não pode alterar o conteúdo de uma tupla após sua criação.
- As tuplas são definidas usando parênteses ( )
- Os elementos de uma tupla são acessados da mesma forma que os elementos de uma lista, ou seja, usando índices numéricos.
- Assim como as listas, as tuplas podem conter elementos de diferentes tipos de dados.
- As tuplas são frequentemente usadas em situações em que você precisa garantir que os dados permaneçam imutáveis, como por exemplo, coordenadas geográficas, valores constantes ou chaves em dicionários.

In [12]:
# Criando uma tupla 
tupla1 = ('geografia', 23, 'elefantes', 9.8, 'python')
tupla1

('geografia', 23, 'elefantes', 9.8, 'python')

- Tuplas não suportam o método append
- Não suportam deletar um item específico 
- Podem ter um único item

In [14]:
# Verificando o comprimento
len(tupla1)

5

In [15]:
# Slicing da mesma forma que é possível se fazer com listas
tupla1[1:]

(23, 'elefantes', 9.8, 'python')

In [16]:
# Verificando o índice de um elemento
tupla1.index('elefantes')

2

In [17]:
t2 = tupla1

#### Convertendo uma tupla em lista

In [18]:
lista1 = list(t2)

In [22]:
type(lista1)
lista1

['geografia', 23, 'elefantes', 9.8, 'python']

#### Convertendo lista para tuplas

In [23]:
t2 = tuple(lista1)
type(t2)

tuple

# 5 - Condicionais

### Condicional if

In [1]:
if 5 > 2:
    print('Verdadeiro')

Verdadeiro

### Condicional if, else

In [2]:
if 5 < 2:
    print('Verdadeiro')
else:
    print('Falso')

Falso

### Condicional if, else com variáveis

In [3]:
# Para validar mais de uma condição, usa-se o 'elif'
dia = 'terça'
if dia == 'segunda':
    print('Hoje fará sol')
elif dia == 'terça':
    print('hoje irá chover')
else:
    print('sem previsão do tempo para esse dia')

hoje irá chover

### Condicionais aninhados

In [5]:
idade = 18
nome = 'Bob'
if idade > 13:
    if nome == 'Bob':
        print('Ok, Bob. Você pode entrar')
    else:
        print('Desculpe, não pode entrar!')

Ok, Bob. Você pode entrar

In [6]:
# 2 regras dentro do mesmo bloco condicional
idade = 13
nome = 'Bob'
if idade >= 13 and nome == 'Bob':
    print('Você está autorizado a entrar')

Você está autorizado a entrar

In [7]:
idade = 13
nome = 'Bob'
if (idade >= 13) or nome == 'Bob':
    print('Você está autorizado a entrar')

Você está autorizado a entrar

- Operador **not**: inverte o resultado, retorna False se o resultado for True.

In [10]:
numero = 4

if not (numero > 5) and (numero % 2 == 0):
    print('Isso está sendo impresso porque ambas condições são verdadeiras')
else: 
    print('Isso está sendo impresso porque uma das condições é falsa')

Isso está sendo impresso porque ambas condições são verdadeiras

In [11]:
# Usando mais de uma condição e introduzindo Placeholders 
# Digite %s e %r e coloque entre parênteses na ordem desejada o que deve ser substituído %( , )

disciplina = 'Data Science'
nota = 90
semestre = 2

if disciplina == 'Data Science' and nota >= 80 and semestre != 1:
    print('Você foi aprovado em %s com média final %r!' %(disciplina, nota))
else:
    print('Lamento, não foi aprovado')

Você foi aprovado em Data Science com média final 90!

### Try, Except, Finally

- O bloco 'try' contém o código que você quer executar, onde você espera que uma exceção possa ocorrer.
- Os blocos 'except' são usados para lidar com exceções específicas que podem ocorrer no bloco 'try'.
- Você pode ter quantos blocos 'except' forem necessários para lidar com diferentes tipos de exceções.
- O bloco 'else' é opcional e é executado se o bloco 'try' não lançar nenhuma exceção.
- O bloco 'finally' é opcional e é sempre executado, independentemente de uma exceção ter sido levantada ou não no bloco 'try'. Geralmente, é usado para realizar limpeza ou liberação de recursos.

In [ ]:
try:
    # Tenta abrir um arquivo para leitura
    arquivo = open("arquivo.txt", "r")
    conteudo = arquivo.read()
    print(conteudo)
except FileNotFoundError:
    # Se o arquivo não for encontrado, exibe uma mensagem de erro
    print("O arquivo não foi encontrado.")
except Exception as e:
    # Se qualquer outra exceção ocorrer, exibe a mensagem de erro específica
    print("Ocorreu um erro:", e)
else:
    # Se nenhum erro ocorrer, exibe uma mensagem de sucesso
    print("Arquivo lido com sucesso.")
finally:
    # Sempre fecha o arquivo, independentemente de ter ocorrido um erro ou não
    arquivo.close()

# 6 - Loop for

In [1]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,5)
for i in tp: # Para cada valor na tupla, print o valor.
    print(i)

2
3
5

- ## Função Range

In [ ]:
# Sintaxe: 
range(start, stop, step)

- Start: O valor inicial da sequência (opcional). Se não especificado, por padrão é 0.
- Stop: O valor final da sequência. O intervalo não inclui esse valor.
- Step: O incremento entre cada número na sequência (opcional). Se não especificado, por padrão é 1.

In [7]:
# Como gerar uma sequência numérica:
for contador in range(5):
    print(contador)
    
print('-'*10)

# Outra forma de gerar uma sequência definindo os limites 
for i in range(0,6):
    print(i)

0
1
2
3
4
----------
0
1
2
3
4
5

In [11]:
# Imprimindo valores pares dentro de uma lista de valores 
lista = [0,1,2,3,4,5,6,7,8,9,10]
for i in lista:
    if i % 2 == 0:
        print(i)
    else:
        print('{}: esse número é ímpar'.format(i))
# Para cada valor dentro da lista, se o resto da divisão for 0, print esse valor.

0
1: esse número é ímpar
2
3: esse número é ímpar
4
5: esse número é ímpar
6
7: esse número é ímpar
8
9: esse número é ímpar
10

In [14]:
# Listando valores no intervalo de 0 e 8 pulando de 2 em 2.
for i in range(0,8,2):
    print(i)

0
2
4
6

In [15]:
# Strings também são sequências
for caracters in 'Sou lindo':
    print(caracters)

S
o
u

l
i
n
d
o

## 6.1 - Loop For aninhado

In [2]:
lista1 = [0,1,2]
lista2 = [4,5,6]

# Loop externo

for elemento_lista1 in lista1: 
    
    # Loop interno
        for elemento_lista2 in lista2:
            print('\n', elemento_lista1 * elemento_lista2 )
            
        print('-'*5)

 0

 0

 0
-----

 4

 5

 6
-----

 8

 10

 12
-----

In [17]:
# Como encontrar um elemento em uma lista - Existe o número 55?
lista1 = [1,2,3,4,5,6,7,8,9,10]
lista2 = [55,1,3,5,100,60,50,9]

# Loop externo
for elemento_lista1 in lista1:
    
    # Loop interno
    for elemento_lista2 in lista2:
        
        # Condicional 
        if elemento_lista1 == 1 and elemento_lista2 == 1:
            print('Valor encontrado nas duas listas')

Valor encontrado nas duas listas

In [22]:
# Some os números pares em ambas as listas

lista1 = [1,2,3,4,5,6]
lista2 = [0,10,20,30,40]
soma = 0

# Loop externo 
for lista in [lista1, lista2]:
    
    # Loop interno
    for num in lista:
        
        # Condicional 
        if num %2 == 0:
            soma += num #  É o mesmo de fazer: temp = soma + num 
                        #  soma = num
            
print('A soma dos números pares é igual a ', soma)

A soma dos números pares é igual a  112

In [28]:
# Outra forma de fazer o desafio acima:

lista1 = [1,2,3,4,5,6]
lista2 = [0,10,20,30,40]
soma = 0

for num in lista1 + lista2:
    if num %2 ==0:
        soma += num
print('A soma dos valores é: {}' .format(soma))

A soma dos valores é: 112

In [41]:
# Loop em lista de listas (matrizes) para encontrar o maior número

matriz = [[2,4,60], [100,300,500], [1100,1300,1700]]
maior_num = 0 

#Loop externo
for i in matriz: #Para cada valor dentro da matriz, ou seja, cada lista
    
    #Loop interno
    for j in i: #Para cada valor dentro da lista
        
        #Condicional 
        if j > maior_num: #Se cada valor de cada lista for maior que zero, assuma esse valor e continue fazendo até o fim
            maior_num = j
            
print('Maior número:', maior_num)

Maior número: 1700

In [42]:
# Listando as chaves de um dicionário -> Os items por padrão são as chaves nos dicionários
dict = {'k1': 'python','k2': 'R', 'k3': 'Scala'}
for item in dict:
    print(item)

k1
k2
k3

In [43]:
# Para retornar as chaves e os valores em um dicionário. Usa-se o método items()

for k,v in dict.items():
    print(k,v)

k1 python
k2 R
k3 Scala

## 6.2 - Loop While

- O loop while é usado quando não sabemos quantas vezes o bloco de código precisa ser executado, mas sabemos a condição que deve ser verdadeira para continuar a execução do loop.
- O loop continua a ser executado enquanto a condição especificada for verdadeira.
- É importante garantir que a condição eventualmente se torne falsa, caso contrário, o loop continuará indefinidamente, resultando em um "loop infinito".

In [21]:
valor = 0
while valor < 5:
    print(valor, end=' ')
    valor = valor +1

0 1 2 3 4

In [49]:
# Também é possível usar a cláusula ELSE para encerrar o loop while

x = 0
while x < 5:
    print( 'O valor de x nesta iteração é de: ', x)
    print('-'*40)
    print( 'X ainda é menor que 5, somando 1 a x' )
    x += 1
else:
    print('Loop concluído')
print(x)

O valor de x nesta iteração é de:  0
----------------------------------------
X ainda é menor que 5, somando 1 a x
O valor de x nesta iteração é de:  1
----------------------------------------
X ainda é menor que 5, somando 1 a x
O valor de x nesta iteração é de:  2
----------------------------------------
X ainda é menor que 5, somando 1 a x
O valor de x nesta iteração é de:  3
----------------------------------------
X ainda é menor que 5, somando 1 a x
O valor de x nesta iteração é de:  4
----------------------------------------
X ainda é menor que 5, somando 1 a x
Loop concluído
5

### Pass, break, continue

In [ ]:
# Se encontrarmos o número 4 interrompemos o loop

valor = 0
while valor < 10:
    if valor == 4:
        break
    else:
        pass
    print(valor)
    valor = valor + 1

In [3]:
# Calculadora de equação do segundo grau
a = float(input('Digite o valor de a: '))
b = float(input('Digite o valor de b: '))
c = float(input('Digite o valor de c: '))

delta = pow(b,2)-4*a*c

if delta < 0:
    print('Não existem raízes reais para esses valores')
elif delta == 0:
    x = (-b+pow(delta,1/2))/(2*a)
    print('Existe uma única raíz real e seu valor é: {}'.format(x))
else:
    x1 = (-b+pow(delta,1/2))/(2*a)
    x2 = (-b-pow(delta,1/2))/(2*a)
    print('Existem duas raízes reais: x1 = {} e x2 = {}.'.format(x1,x2))

Digite o valor de a: 2
Digite o valor de b: 0
Digite o valor de c: -8
Existem duas raízes reais: x1 = 2.0 e x2 = -2.0.

In [19]:
# Encontrando número primo entre 2 e 30

# Variável para armazenas os números primos
primos = []

# Loop For para percorrer números de 2 a 30
for num in range(1,31):
    
    # Variável de controle 
    eh_primo = True
    
    # Loop While para verificar se um número é primo
    i = 2 
    while i <= num // 2:   
        if num % i == 0:   
            eh_primo = False
            break
        i += 1
    # Add número primo na lista
    if eh_primo:
        primos.append(num)
        
# Imprimindo a lista de números
print(primos)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

- #### Obs: i = i + 1 -> i += 1

In [16]:
%%time 
# Lista para armazenar os números primos encontrados
primos = []

# Loop for para percorrer os números de 2 a 30
for num in range(2, 31):
    
    # Variável de controle para verificar se o número é primo
    eh_primo = True
    
    # Verificando se o número é primo
    for i in range(2, num):
        if num % i == 0:
            eh_primo = False
            break
    
    # Se o número for primo, adicionamos à lista de primos
    if eh_primo:
        primos.append(num)

# Imprimindo a lista de números primos encontrados
print("Números primos entre 2 e 30:", primos)

Números primos entre 2 e 30: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
CPU times: total: 0 ns
Wall time: 0 ns

### Como saber o que um método faz de determinado objeto?

In [22]:
lista = [1,23,3]

In [23]:
# A função help explica como utilizar cada método de um objeto
help(lista.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [ ]:
# A função dir() mostra todos os métodos e atributos para um objeto
dir(lista)

# **7 - Funções**

In [24]:
# Definindo uma função
def primeiraFunc():
    nome = 'Bob'
    print('Hello, %s' %(nome))

In [25]:
primeiraFunc()

Hello, Bob

In [1]:
# Definindo uma função com parâmetro
def segundaFunc(nome):
    print('Hello, %s' %(nome))

In [2]:
segundaFunc('Thallys')

Hello, Thallys

## 7.1 - Escopo de variável - Local e global

### Variável global

- Uma variável global é definida fora de qualquer função e pode ser acessada de qualquer lugar dentro do programa, incluindo dentro de funções.
- Variáveis globais têm escopo global, o que significa que elas podem ser acessadas de qualquer lugar no programa, a menos que haja uma variável local com o mesmo nome em um escopo mais restrito.
- As variáveis globais são úteis quando você deseja compartilhar dados entre várias partes do seu programa.

In [1]:
# Exemplo:

# Variável global
var_global = 10 

# Função 
def multiplica_num(num1, num2):
    var_local = num1 * num2 # Esta é uma variável local
    print(var_local)

In [2]:
multiplica_num(5,25)

125

In [3]:
var_global

10

### Variável local

- Uma variável local é definida dentro de uma função e só pode ser acessada dentro dessa função.
- Variáveis locais têm escopo local, o que significa que elas só existem dentro da função onde foram definidas.
- Cada chamada de função tem seu próprio escopo de variável local, e as variáveis locais de uma função não são acessíveis de fora dessa função.

 - Pacotes Python
 
https://pypi.org/

### Expressão Lambda

In [1]:
# 3 linhas de código
def potencia(num):
    resultado = num**2
    return resultado

In [2]:
potencia(5)

25

In [3]:
# 2 linhas de código
def potencia(num):
    return num**2

In [4]:
potencia(4)

16

In [5]:
# Definindo uma expressão lambda
potencia = lambda num: num**2

In [6]:
potencia(6)

36

- ### Desempacotamento em Python

In [4]:
def contador(*num): 
    tam = len(num)
    print(f'Recebi os valores {num} e são ao todo {tam} números')

In [5]:
contador(1,2,36,5)
contador(1,2)
contador(5,2,3,5,7,8,9)

Recebi os valores (1, 2, 36, 5) e são ao todo 4 números
Recebi os valores (1, 2) e são ao todo 2 números
Recebi os valores (5, 2, 3, 5, 7, 8, 9) e são ao todo 7 números

In [5]:
# OUTRO EXEMPLO:

def soma(* valores):
    s = 0
    for num in valores:
        s += num
    print(f'Somando os valores {valores} temos {s}')

In [7]:
soma(1,2)
soma(1,2,3)

Somando os valores (1, 2) temos 3
Somando os valores (1, 2, 3) temos 6

- #### Como pedir ajuda

In [ ]:
help()

- #### Como dobrar os valores dentro de uma lista com uma função

In [6]:
def dobra(lista):
    posicao = 0
    while posicao < len(lista):
        lista[posicao]*=2
        posicao += 1

valores = [1,2,3,4,5]
dobra(valores)
print(valores)

[2, 4, 6, 8, 10]

# 8 - Lista comprehension

In [8]:
# List comprehension
[x for x in range(10)] 
# Para cada valor de x em range (dentro da lista de elementos), retorne x.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# List comprehension que imprime os números até 10 e grava dentro de uma lista

lista = [x for x in range(10)]

In [10]:
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# List comprehension que imprime os números menores que 5 em um intervalo de 1 a 10.

lista = [x for x in range(10) if x < 5]
print(lista)

[0, 1, 2, 3, 4]

In [ ]:
# Para salvar cada número digitado dentro de um índice em uma lista a partir do loop for

lista = [int(input('Digite um número: ')) for i in range(0, 6)]

print(lista)

- # Manipulação de arquivos

- #### Abrindo o arquivo e salvando em uma variável

In [8]:
arquivo = open("teste.txt", "r") # r = read

- #### Abrindo o arquivo e lendo

In [9]:
print(arquivo.read())

Curso de python DSA - TESTANDO

- #### Contando o nº de caracteres

In [10]:
print(arquivo.tell())

31

- #### Retornar para o início do arquivo

In [11]:
print(arquivo.seek(0,0))

0

In [ ]:
print(arquivo.)

- #### Gravando arquivo

In [12]:
# Abrindo arquivo para gravação 
arquivo2 = open('teste2.txt', 'w') # W = write (modo de escrita)

In [14]:
arquivo2.write('Aprendendo Python')

17

In [15]:
arquivo2.close()

In [17]:
arquivo2 = open('teste2.txt', 'r')

In [18]:
print(arquivo2.read())

Aprendendo Python

- #### Adicionando ao arquivo

In [19]:
arquivo2 = open('teste2.txt', 'a') # Metódo append: adicionar

In [20]:
arquivo2.write('Quero ficar foda')
arquivo2.close()

In [22]:
arquivo2 = open('teste2.txt', 'r')
print(arquivo2.read())

Aprendendo PythonQuero ficar foda

# Como enviar dados para um banco de dados

- ### Rápido

In [ ]:
!pip install sqlalchemy psycopg2 pandas
from sqlalchemy import create_engine, inspect

engine = create_engine('postgresql+psycopg2://metabase_user:Th13853211*@postgresmetabase.cfk4ouc8m1sx.us-east-2.rds.amazonaws.com/metabase')

inspector = inspect(engine)
tabela_existe = inspector.has_table('airbnb')

if not tabela_existe:
    df.to_sql('airbnb', engine, index=False)
else:
    df.to_sql('airbnb', engine, if_exists='replace', index=False)

- ### Lento

In [ ]:
# Criando conexão com o PostgreSQL
conn = psycopg2.connect(database = "metabase", 
                        user = "metabase_user", 
                        host= 'postgresmetabase.cfk4ouc8m1sx.us-east-2.rds.amazonaws.com',
                        password = "Th13853211*",
                        port = 5432)

In [ ]:
#Criar um cursor
cursor = conn.cursor()

for index, row in df.iterrows():
    # Preparar a instrução SQL
    sql = 'INSERT INTO airbnb (id, host_id, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, number_of_reviews_ltm) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
    # Preparar os valores para todas as linhas
    values = (row['id'], row['host_id'], row['neighbourhood'], row['latitude'], row['longitude'], 
        row['room_type'], row['price'], row['minimum_nights'], row['number_of_reviews'], 
        row['last_review'], row['reviews_per_month'], row['calculated_host_listings_count'], 
        row['availability_365'], row['number_of_reviews_ltm'])
    cursor.execute(sql, values)
    # Commit para efetivar as alterações no banco de dados
    conn.commit()
print('FIM')